{{ if lookPath "cargo" -}}
[net]
git-fetch-with-cli = true

[build]
# Use sccache for build cache sharing
# ❯ cargo install sccache --locked
{{ if lookPath "sccache" -}}
rustc-wrapper = {{ lookPath "sccache" | quote }}
{{- end }}

[target.x86_64-unknown-linux-gnu]
{{ if lookPath "mold" -}}
{{   if lookPath "clang" -}}
linker = {{ lookPath "clang" | quote }}
rustflags = ["-C", "link-arg=-fuse-ld={{- lookPath "mold" -}}"]
{{-  else }}
rustflags = ["-C", "link-arg=-fuse-ld=mold"]
{{-  end }}
{{- end }}

# build.rsを高速化する https://zenn.dev/dalance/articles/7a0a7969ccb453

## デバッグモード時のbuild.rsのオプション
[profile.dev.build-override]
opt-level = 3

## リリースモード時のbuild.rsのオプション
[profile.release.build-override]
opt-level = 3
{{- end }}
