# yaml-language-server: $schema=https://raw.githubusercontent.com/mattn/efm-langserver/master/schema.json
---
version: 2
root-markers:
  - .git/
lint-debounce: 1s
log-file: {{ joinPath .chezmoi.homeDir ".cache" "efm-langserver"  "efm-langserver.log" }}
log-level: 1

tools:
  efm-langservedr-reload: &efm-langserver-reload
    commands:
      - title: reload-config
        command: :reload-config

  javascript-eslint: &javascript-eslint
    lint-command: >-
      {{ lookPath "bunx" }}
      eslint
      --no-color
      --stdin
      --stdin-filename ${INPUT}
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - "%-P%f"
      - "%#%l:%c %# %trror  %m"
      - "%#%l:%c %# %tarning  %m"
      - "%-Q"
      - "%-G%.%#"
    lint-after-open: true
    require-marker: true
    root-markers:
      - eslint.config.js
      - eslint.config.cjs
      - eslint.config.mjs

  javascript-eslint-8: &javascript-eslint-8
    lint-command: >-
      {{ lookPath "bunx" }}
      eslint@8.57.0
      -f visualstudio
      --no-color
      --stdin
      --stdin-filename ${INPUT}
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - "%f(%l,%c): %tarning %m"
      - "%f(%l,%c): %rror %m"
    lint-after-open: true
    require-marker: true
    root-markers:
      - .eslintrc
      - .eslintrc.js
      - .eslintrc.cjs

  fish-fish_indent: &fish-fish_indent
    prefix: fish-indent
    format-command: fish_indent
    format-stdin: true

  fish-lint: &fish-lint
    prefix: fish-lint
    lint-command: "fish --no-execute ${INPUT}"
    lint-stdin: true
    lint-ignore-exit-code: true
    lint-formats:
      - '%.%#(line %l): %m'
    lint-after-open: true

  any-secretlint: &any-secretlint
    prefix: secretlint
    lint-command: >-
      {{ lookPath "bunx" }}
      @secretlint/quick-start@latest
      --format compact
      --no-color
      --no-terminalLink
    lint-stdin: false
    lint-formats:
      - "%f: line %l, col %c, %trror - %m"
      - "%f: line %l, col %c, %tarning - %m"
      - "%-G%.%#"
    lint-ignore-exit-code: true
    lint-after-open: true

  css-stylelint: &css-stylelint
    prefix: stylelint
    lint-command: >-
      {{ lookPath "bunx" }}
      stylelint
      --formatter unix
      --stdin
      --stdin-filename ${INPUT}
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m"
    lint-after-open: true
    require-marker: true
    root-markers:
      - .stylelint.config.cjs
      - .stylelint.config.js
      - .stylelint.config.mjs
      - .stylelintrc
      - .stylelintrc.cjs
      - .stylelintrc.js
      - .stylelintrc.json
      - .stylelintrc.mjs
      - .stylelintrc.yaml
      - .stylelintrc.yml

  any-prettier: &any-prettier
    prefix: prettier
    format-command: >-
      ./node_modules/.bin/prettier
      ${--tab-width:tabWidth}
      --stdin-filepath ${INPUT}
    format-stdin: true
    require-marker: true
    root-markers:
      - .prettierrc
      - .prettierrc.cjs
      - .prettierrc.js
      - .prettierrc.json
      - .prettierrc.json5
      - .prettierrc.mjs
      - .prettierrc.toml
      - .prettierrc.yaml
      - .prettierrc.yml
      - prettier.config.cjs
      - prettier.config.js
      - prettier.config.mjs

  markdown-markdownlint-cli2: &markdown-markdownlint-cli2
    prefix: markdownlint-cli2
    lint-command: >-
      {{ lookPath "bunx" }}
      markdownlint-cli2
      --config {{ joinPath .chezmoi.homeDir ".config" "config.markdownlint-cli2.yaml" }}
    lint-stdin: false
    lint-formats:
      - "%f:%l:%c %m"
      - "%f:%l %m"
      - "%-G%.%#"
    lint-ignore-exit-code: true
    lint-after-open: true

  markdown-markdownlint: &markdown-markdownlint
    prefix: markdownlint
    lint-command: >-
      {{ lookPath "bunx" }}
      markdownlint-cli
      --config {{ joinPath .chezmoi.homeDir ".config" "markdownlint.yaml" }}
      --stdin
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c %m"
      - "%f:%l %m"
    lint-after-open: true

  html-markuplint: &html-markuplint
    prefix: markuplint
    lint-command: >-
      {{ lookPath "bunx" }}
      markuplint
      --no-color
      --format Default
    lint-stdin: false
    lint-formats:
      - "%E<markuplint> error: %m %f:%l:%c"
      - "%C%.%#"
      - "%-G%.%#"
    lint-after-open: true
    commands:
      - title: 'markuplint fix'
        command: {{ lookPath "bunx" }}
        arguments:
          - 'markuplint'
          - '--no-color'
          - '--fix'
          - '${INPUT}'

# pip3 install --user black
  python-black: &python-black
    prefix: black
    format-command: "black - --quiet --stdin-filename ${INPUT}"
    format-stdin: true

# pip3 install --user isort
  python-isort: &python-isort
    prefix: isort
    format-command: "isort - --quiet --stdout"
    format-stdin: true

# {scoop,brew} install hadolint
  dockerfile-hadolint: &dockerfile-hadolint
    prefix: hadolint
    lint-command: hadolint
    lint-formats:
      - "%f:%l %m"
    lint-after-open: true

# scoop or brew install actionlint
  yaml-actionlint: &yaml-actionlint
    prefix: actionlint
    lint-command: >-
      actionlint
      -oneline
      -no-color
      -stdin-filename "${INPUT}"
      -
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'
    lint-after-open: true
    require-marker: true
    root-markers:
      - .github/workflows/

  any-cspell: &any-cspell
    prefix: cspell
    lint-command: >-
      {{ lookPath "bunx" }}
      cspell
      lint
      --no-gitignore
      --dot
      --no-progress
      --no-color
      --no-summary
      stdin://${INPUT}
    lint-stdin: true
    lint-formats:
      - "%I%f:%l:%c - %m"
      - "%Z"
    lint-ignore-exit-code: true
    lint-severity: 3
    lint-after-open: true
{{- if false -}}
    completion-command: >-
      {{ lookPath "bunx" }}
      cspell
      suggestions
      --no-progress
      --stdin
      -config {{ joinPath .chezmoi.homeDir ".config" "cspell.config.yaml" }}
    completion-stdin: true
{{- end }}

  any-commitlint: &any-commitlint
    prefix: commitlint
    lint-command: >-
      {{ lookPath "bunx" }}
      @commitlint/cli
      --config
      {{ joinPath .chezmoi.homeDir ".config" "commitlintrc.yaml" }}
    lint-stdin: true
    lint-formats:
      - "%-G✖   found%.%#"
      - "%E✖   %m"
      - "%Z%W⚠   %m"
      - "%I     %m"
      - "%Z%-G%.%#"
    lint-after-open: true

  any-textlint: &any-textlint
    prefix: textlint
    lint-command: >-
      {{ lookPath "bunx" }}
      textlint
      -f unix
      --no-color
      --stdin
      --stdin-filename ${INPUT}
    root-markers:
      - .textlintrc.json
      - .textlintrc.yaml
      - .textlintrc.yml
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m [%trror/%r]"
      - "%f:%l:%c: 【%r】 %m"
      - "%E%f:%l:%c: %m"
      - "%Z%m [%trror/%r]"
      - "%C%m"
    lint-ignore-exit-code: true
    lint-after-open: true

  any-textlint-fallback: &any-textlint-fallback
    prefix: textlint-fallback
    lint-command: >-
{{- if lookPath "pnpm" }}
      {{ lookPath "pnpm" }}
      --silent
      --package=textlint
      --package=textlint-rule-preset-ja-spacing
      --package=textlint-rule-preset-japanese
      dlx
{{- else }}
      {{ lookPath "npm" }}
      exec
      --silent
      --package=textlint
      --package=textlint-rule-preset-ja-spacing
      --package=textlint-rule-preset-japanese
      --yes
      --
{{- end }}
      textlint
      --config {{ joinPath .chezmoi.homeDir ".config" "textlintrc.yaml" }}
      -f unix
      --no-color
      --stdin
      --stdin-filename ${INPUT}
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m [%trror/%r]"
      - "%f:%l:%c: 【%r】 %m"
      - "%E%f:%l:%c: %m"
      - "%Z%m [%trror/%r]"
      - "%C%m"
    lint-ignore-exit-code: true
    lint-after-open: true

languages:
  css:
    - <<: *css-stylelint
    - <<: *any-prettier
    - <<: *any-cspell

  dockerfile:
    - <<: *dockerfile-hadolint

  fish:
    - <<: *fish-lint
    - <<: *fish-fish_indent

  html:
    - <<: *any-prettier
    - <<: *html-markuplint
    - <<: *any-cspell

  javascript:
    - <<: *any-cspell
    - <<: *any-secretlint
    - <<: *any-prettier
    - <<: *javascript-eslint
    - <<: *javascript-eslint-8

  javascriptreact:
    - <<: *any-cspell
    - <<: *any-secretlint
    - <<: *any-prettier
    - <<: *javascript-eslint
    - <<: *javascript-eslint-8

  json:
    - <<: *any-secretlint

  go:
    - <<: *any-cspell

  markdown:
    - <<: *markdown-markdownlint-cli2
    - <<: *any-textlint
    - <<: *any-textlint-fallback
    - <<: *any-prettier

  ps1:
    - <<: *any-cspell

  python:
    # - <<: *python-black
    # - <<: *python-isort
    - <<: *any-cspell
    - <<: *any-secretlint

  scss:
    - <<: *css-stylelint
    - <<: *any-prettier

  sh:
    - <<: *any-cspell

  typescript:
    - <<: *any-cspell
    - <<: *any-secretlint
    - <<: *any-prettier
    - <<: *javascript-eslint
    - <<: *javascript-eslint-8

  typescriptreact:
    - <<: *any-cspell
    - <<: *any-secretlint
    - <<: *any-prettier
    - <<: *javascript-eslint
    - <<: *javascript-eslint-8

  vue:
    - <<: *any-prettier

  yaml:
    - <<: *efm-langserver-reload
    - <<: *yaml-actionlint
    - <<: *any-prettier
    - <<: *any-secretlint

  gitcommit:
    - <<: *any-secretlint
{{- if false }}
    - <<: *any-commitlint
{{- end }}

