# yaml-language-server: $schema=https://raw.githubusercontent.com/mattn/efm-langserver/master/schema.json
---
version: 2
root-markers:
  - .git/
log-file: {{ joinPath .chezmoi.homeDir ".cache" "efm-langserver"  "efm-langserver.log" }}
log-level: 3

{{- if false -}}
commands:
  - title: reload
    command: :reload-config
{{- end }}

tools:
  fish-fish_indent: &fish-fish_indent
    prefix: fix_indent
    format-command: fish_indent
    format-stdin: true

  fish-lint: &fish-lint
    lint-command: fish --no-execute
    lint-stdin: false
    lint-formats:
      - '%f (line %l): %m'

  any-secretlint: &any-secretlint
    prefix: secretlint
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --
      @secretlint/quick-start@latest
      --format unix
    lint-stdin: false
    lint-formats:
      - "%f:%l:%c: %m"
      - "%-G%.%#"
    lint-ignore-exit-code: true

  css-stylelint: &css-stylelint
    prefix: stylelint
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --package=stylelint
      --package=stylelint-config-standard
      --
      stylelint
      --formatter unix
      --config
      {{ joinPath .chezmoi.homeDir ".config" "stylelintrc.yaml" }}
      --stdin
      --stdin-filename ${INPUT}
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m"

  any-prettier: &any-prettier
    prefix: prettier
    format-command: >-
      {{ lookPath "npx" }} --yes
      prettier
      --stdin-filepath ${INPUT}
    format-stdin: true
{{- if false }}
    root-markers:
      - .prettierrc
      - .prettierrc.json
      - .prettierrc.yml
      - .prettierrc.yaml
      - .prettierrc.json5
      - .prettierrc.js
      - .prettierrc.cjs
      - prettier.config.js
      - prettier.config.cjs
      - .prettierrc.toml
{{- end }}

  any-biome: &any-biome
    prefix: biome
    format-command: >-
      {{ lookPath "npx" }} --yes
      --
      @biomejs/biome
      format
      --config-path={{- joinPath .chezmoi.homeDir ".config" "biome.json" | quote }}
      --stdin-file-path=${INPUT}
    format-stdin: true

  markdown-markdownlint-cli2: &markdown-markdownlint-cli2
    prefix: markdownlint-cli2
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --package=markdownlint-cli2
      --
      markdownlint-cli2-config
      {{ joinPath .chezmoi.homeDir ".config" "config.markdownlint-cli2.yaml" }}
    lint-stdin: false
    lint-formats:
      - "%f:%l:%c %m"
      - "%f:%l %m"
      - "%-G%.%#"
    lint-ignore-exit-code: true

  markdown-markdownlint: &markdown-markdownlint
    prefix: markdownlint
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --package=markdownlint-cli
      --
      markdownlint
      --config {{ joinPath .chezmoi.homeDir ".config" "markdownlint.yaml" }}
      --stdin
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c %m"
      - "%f:%l %m"

  html-markuplint: &html-markuplint
    prefix: markuplint
    lint-command: >-
      {{ lookPath "npx" }} --yes
      markuplint
      --no-color
      --format Default
    lint-stdin: false
    lint-formats:
      - "%E<markuplint> error: %m %f:%l:%c"
      - "%C%.%#"
      - "%-G%.%#"
    commands:
      - title: 'markuplint fix'
        command: {{ lookPath "npx" }}
        arguments:
          - '--yes'
          - 'markuplint'
          - '--no-color'
          - '--fix'
          - '${INPUT}'

# pip3 install --user black
  python-black: &python-black
    prefix: black
    format-command: "black - --quiet --stdin-filename ${INPUT}"
    format-stdin: true

# pip3 install --user isort
  python-isort: &python-isort
    prefix: isort
    format-command: "isort - --quiet --stdout"
    format-stdin: true

# {scoop,brew} install hadolint
  dockerfile-hadolint: &dockerfile-hadolint
    prefix: hadolint
    lint-command: hadolint
    lint-formats:
      - "%f:%l %m"

# scoop or brew install actionlint
  yaml-actionlint: &yaml-actionlint
    prefix: actionlint
    lint-command: >-
{{- if ne .chezmoi.os "windows" }}
      bash -c "[[ '${INPUT}' =~ \\.github/workflows/ ]]" && actionlint
{{- else }}
      actionlint
{{- end }}
      -oneline
      -no-color
      -stdin-filename "${INPUT}"
      -
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - '%f:%l:%c: %m'
    root-markers:
      - .github/

  any-cspell: &any-cspell
    prefix: cspell
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --
      cspell
      lint
      --no-gitignore
      --dot
      --no-progress
      --no-color
      --no-summary
      --config {{ joinPath .chezmoi.homeDir ".config" "cspell.config.yaml" }}
      stdin://${INPUT}
    lint-stdin: true
    lint-formats:
      - "%I%f:%l:%c - %m"
      - "%Z"
    lint-ignore-exit-code: true
    lint-severity: 3
{{- if false -}}
    completion-command: >-
      {{ lookPath "npx" }} --yes
      --
      cspell
      suggestions
      --no-progress
      --stdin
      -config {{ joinPath .chezmoi.homeDir ".config" "cspell.config.yaml" }}
    completion-stdin: true
{{- end }}

  any-commitlint: &any-commitlint
    prefix: commitlint
    lint-command: >-
      {{ lookPath "npx" }}--yes
      --package=@commitlint/cli
      --
      commitlint
      --config
      {{ joinPath .chezmoi.homeDir ".config" "commitlintrc.yaml" }}
    lint-stdin: true
    lint-formats:
      - "%-G✖   found%.%#"
      - "%E✖   %m"
      - "%Z%W⚠   %m"
      - "%I     %m"
      - "%Z%-G%.%#"

  any-textlint: &any-textlint
    prefix: textlint
    lint-command: >-
      {{ lookPath "npx" }} --yes
      --package=textlint
      --package=textlint-rule-preset-ja-technical-writing
      --package=textlint-rule-preset-ja-spacing
      --package=textlint-rule-preset-japanese
      --
      textlint
      --config {{ joinPath .chezmoi.homeDir ".config" "textlintrc.yaml" }}
      -f unix
      --no-color
      --stdin
      --stdin-filename ${INPUT}
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %m [%trror/%r]"
      - "%f:%l:%c: 【%r】 %m"
      - "%E%f:%l:%c: %m"
      - "%Z%m [%trror/%r]"
      - "%C%m"
    lint-ignore-exit-code: true

languages:
  css:
    - <<: *css-stylelint
    - <<: *any-prettier
    - <<: *any-cspell

  dockerfile:
    - <<: *dockerfile-hadolint

  fish:
    - <<: *fish-lint
    - <<: *fish-fish_indent

  html:
    - <<: *any-prettier
    - <<: *html-markuplint
    - <<: *any-cspell

  javascript:
    - <<: *any-biome
    - <<: *any-cspell
    - <<: *any-secretlint

  javascriptreact:
    - <<: *any-biome
    - <<: *any-cspell
    - <<: *any-secretlint

  json:
    - <<: *any-biome
    - <<: *any-secretlint

  go:
    - <<: *any-cspell

  markdown:
    - <<: *markdown-markdownlint-cli2
    - <<: *any-textlint
    - <<: *any-prettier

  ps1:
    - <<: *any-cspell

  python:
    # - <<: *python-black
    # - <<: *python-isort
    - <<: *any-cspell
    - <<: *any-secretlint

  scss:
    - <<: *css-stylelint
    - <<: *any-prettier

  sh:
    - <<: *any-cspell

  typescript:
    - <<: *any-biome
    - <<: *any-cspell
    - <<: *any-secretlint

  typescriptreact:
    - <<: *any-biome
    - <<: *any-cspell
    - <<: *any-secretlint

  vue:
    - <<: *any-prettier

  yaml:
{{- if false -}}
    - <<: *yaml-yamllint
{{- end }}
    - <<: *yaml-actionlint
    - <<: *any-prettier
    - <<: *any-secretlint

  gitcommit:
    - <<: *any-secretlint
{{- if false }}
    - <<: *any-commitlint
{{- end }}

