#!/usr/bin/env bash

set -e

{{ $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "python-lsp-server" -}}

{{- $pythonLsDir := joinPath .chezmoi.homeDir ".local" "share" "python-lsp-server" }}
rm -rf {{ $pythonLsDir }}
mkdir -p {{ $pythonLsDir }}

pushd {{ $pythonLsDir }}
python3 -m venv ./venv
./venv/bin/pip3 install -U pip
./venv/bin/pip3 install "python-lsp-server[rope]"
ln -s "./venv/bin/pylsp" .
{{ $pythonLsBin := joinPath .chezmoi.homeDir ".local" "bin" "pylsp" }}
ln -sf {{ joinPath $pythonLsDir "venv" "bin" "pylsp" }} {{ $pythonLsBin }}
popd
