#!/usr/bin/env bash
# spell-checker: disable

set -e

GOPLS=0.14.2
GOLANGCI_LINT_LANGSERVER=0.0.8
GOLANGCI_LINT=1.55.2

function go_install() {
  local name=$1
  local package=$2

  local path={{- joinPath .chezmoi.homeDir ".local" "share" "lsp-servers" -}}/$name
  mkdir -p $path
  pushd $path

  GOPATH=$(pwd) GOBIN=$(pwd) GO111MODULE=on go install -v "$package"
  GOPATH=$(pwd) GO111MODULE=on go clean -modcache
  rm -rf src pkg 2>/dev/null

  ln -sf $(pwd)/$name {{ joinPath .chezmoi.homeDir ".local" "bin" }}
  popd
}

function golangci_lint_install() {
  local name=golangci-lint
  local file=golangci-lint-$GOLANGCI_LINT.tar.gz

  path={{- joinPath .chezmoi.homeDir ".local" "share" "lsp-servers" "tools" -}}/$name
  mkdir -p $path
  pushd $path

  curl -JL https://github.com/golangci/golangci-lint/releases/download/v$GOLANGCI_LINT/golangci-lint-$GOLANGCI_LINT-{{- .chezmoi.os -}}-{{- .chezmoi.arch -}}.tar.gz -o $file
  tar zxvf $file --strip-components=1
  rm -rf $file

  ln -sf $(pwd)/$name {{ joinPath .chezmoi.homeDir ".local" "bin" }}
  popd
}

go_install gopls golang.org/x/tools/gopls@v$GOPLS
go_install golangci-lint-langserver github.com/nametake/golangci-lint-langserver@v$GOLANGCI_LINT_LANGSERVER

golangci_lint_install
