{{ if lookPath "npm" -}}
#!/usr/bin/env bash

{{ $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "copilot-language-server.json" -}}
# version: {{ $release | include | fromJson | jq ".tag_name" | first }}

set -e

{{- $copilotLanguageServer := joinPath .chezmoi.homeDir ".local" "share" "copilot-language-server" }}
rm -rf {{ $copilotLanguageServer }}
mkdir -p {{ $copilotLanguageServer }}
pushd {{ $copilotLanguageServer }}

npm init -y
npm add --save -- @github/copilot-language-server

ln -s "./node_modules/@github/copilot-language-server/dist/language-server.js" copilot-language-server
{{ $copilotLanguageServerBin := joinPath .chezmoi.homeDir ".local" "bin" "copilot-language-server" }}
ln -sf {{ joinPath $copilotLanguageServer "copilot-language-server" }} {{ $copilotLanguageServerBin }}
popd
{{- end }}
