{{ if and (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash

{{ if lookPath "brew" | not -}}
/usr/bin/env bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}

brew bundle --file=- << EOS
# tap "homebrew/bundle"
{{- if eq .chezmoi.os "darwin" }}
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "microsoft/git"
{{- end }}
brew "act"
brew "actionlint"
brew "aws-vault"
brew "awscli"
brew "bat"
brew "bottom"
brew "broot"
brew "chezmoi"
brew "difftastic"
brew "efm-langserver"
brew "eza"
brew "fd"
{{- if eq .chezmoi.os "darwin" }}
brew "fish"
{{- end }}
brew "fzf"
brew "ghq"
brew "git"
brew "git-crypt"
brew "git-filter-repo"
brew "git-lfs"
brew "gitu"
brew "gitui"
brew "gnupg"
brew "go"
brew "helix"
brew "hurl"
brew "hyperfine"
brew "jnv"
brew "jq"
brew "jq-lsp"
brew "kakoune"
brew "lazydocker"
brew "lazygit"
brew "lua"
brew "lua-language-server"
brew "marksman"
brew "mdcat"
brew "mold"
brew "pandoc"
brew "proto"
brew "python-lsp-server"
brew "ripgrep"
brew "rustup"
brew "sccache"
brew "shfmt"
brew "starship"
brew "taplo"
brew "television"
brew "terraform-ls"
brew "tig"
brew "tmux"
brew "tfenv"
brew "tflint"
brew "trivy"
brew "typos-lsp"
brew "volta"
brew "yazi"
brew "zellij"
brew "zoxide"
brew "ankitpokhrel/jira-cli/jira-cli"
brew "huseyinbabal/tap/taws"
brew "rhysd/hgrep/hgrep"
{{- if eq .chezmoi.os "linux" }}
brew "vim"
{{- else if eq .chezmoi.os "darwin" }}
brew "macvim"
brew "p7zip"
cask "git-credential-manager"
cask "kitty"
cask "visual-studio-code"
{{- end }}
EOS

{{ end -}}
