{{- $dirs := glob (joinPath .chezmoi.homeDir ".local" "share" "vim-lsp-settings" "servers" "*" ) }}
# vim-lsp-settings servers are:
{{ $dirs | toYaml | comment "# " }}

{{- $files := glob (joinPath .chezmoi.homeDir ".local" "share" "vim-lsp-settings" "servers" "*" "*") }}
{{- range $files }}
{{- $fileStat := stat . }}
{{-   if and (isExecutable .) ($fileStat.isDir | not) }}
New-Item -ItemType SymbolicLink -Path {{ joinPath (env "USERPROFILE") ".local" "bin" (osBase .) }} -Target {{ . | osClean }}
{{-   end -}}
{{- end -}}
