#!/usr/bin/env bash
# spell-checker: disable

set -e

{{ $eslint_language_server := joinPath .chezmoi.homeDir ".local" "share" "lsp-servers" "eslint-language-server" -}}
mkdir -p {{ $eslint_language_server }}
pushd {{ $eslint_language_server }}

version=2.2.0

url="https://github.com/microsoft/vscode-eslint/releases/download/release%2F2.2.20-Insider/vscode-eslint-${version}.vsix"
asset=vscode-eslint-${version}.vsix
curl -sL "$url" -o "$asset"
unzip -f "$asset"
rm "$asset"

cat <<EOF >eslint-language-server
#!/bin/sh

node {{ $eslint_language_server -}}/extension/server/out/eslintServer.js \$*
EOF

chmod +x eslint-language-server
ln -sf "$(pwd)/eslint-language-server" {{ joinPath .chezmoi.homeDir ".local" "bin" }}

popd
