#!/usr/bin/env bash
# spell-checker: disable

set -e

{{ $efm_langserver := joinPath .chezmoi.homeDir ".local" "share" "lsp-servers" "efm-langserver" -}}
mkdir -p {{ $efm_langserver }}
pushd {{ $efm_langserver }}

version=0.0.49

os=$(uname -s | tr "[:upper:]" "[:lower:]")
if [ $(uname -m) = "x86_64" ];
then
  arch="amd64"
else
  arch="arm64"
fi
case $os in
linux)
  curl -L \
    "https://github.com/mattn/efm-langserver/releases/download/v${version}/efm-langserver_v${version}_linux_${arch}.tar.gz" \
    -o "efm-langserver_v${version}_linux_${arch}.tar.gz"
  tar -C . --strip=1 -zxf "efm-langserver_v${version}_linux_${arch}.tar.gz"
  rm "efm-langserver_v${version}_linux_${arch}.tar.gz"
  ;;
darwin)
  curl -L \
    "https://github.com/mattn/efm-langserver/releases/download/v${version}/efm-langserver_v${version}_darwin_${arch}.zip" \
    -o "efm-langserver_v${version}_darwin_${arch}.zip"
  unzip -j -o "efm-langserver_v${version}_darwin_${arch}.zip"
  rm "efm-langserver_v${version}_darwin_${arch}.zip"
  ;;
esac


chmod +x efm-langserver
ln -sf "$(pwd)/efm-langserver" {{ joinPath .chezmoi.homeDir ".local" "bin" }}

popd
