#!/usr/bin/env bash

{{- $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "bsky.json" -}}
{{- $jqQuery := printf ".assets[] | select(.name | test(\"bsky-%s-.*$\"))" .chezmoi.os -}}
{{- $info := $release | include | fromJson | jq $jqQuery | first -}}
{{- $url := $info.browser_download_url -}}
{{- $asset := $info.name }}

curl -L {{ $url | quote }} -o {{ $asset | quote }}
unzip {{ $asset }}

mv bsky {{ joinPath .chezmoi.homeDir ".local" "bin" }}
rm -f {{ $asset }}
