#!/usr/bin/env bash
# spell-checker: disable

set -e

SCLS_HASH=d9097f00e4b65d69ec078f8e12fa469f72e73a1a
GHQ={{ lookPath "ghq" | quote }}
CARGO={{ lookPath "cargo" | quote }}

if [ -x $GHQ ] && [ -x $CARGO ]; then
  $GHQ get --shallow --branch $SCLS_HASH estin/simple-completion-language-server
  pushd $(ghq list --full-path | grep "estin/simple-completion-language-server")
  cargo install --path .
  popd
fi
