#!/usr/bin/bash

{{ $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "tailwindcss-intellisense.json" -}}
{{ $tagName := $release | include | fromJson | jq ".tag_name" | first -}}
{{ $asset := printf "vscode-tailwindcss-%s.vsix" (trimPrefix "v" $tagName) -}}
{{ $url := printf "https://github.com/tailwindlabs/tailwindcss-intellisense/releases/download/%s/%s" $tagName $asset }}
curl -L {{ $url | quote }} -o {{ $asset }}

unzip -oq {{ $asset }}
chmod +x extension/dist/tailwindServer.js
rm {{ $asset }} \[Content_Types\].xml extension.vsixmanifest

{{- $tailwindcssLsDir := joinPath .chezmoi.homeDir ".local" "share" "tailwindcss-intellisense" }}
rm -rf {{ $tailwindcssLsDir }}
mkdir -p {{ $tailwindcssLsDir }}
mv extension {{ $tailwindcssLsDir -}}/

{{ $tailwindcssLsBin := joinPath .chezmoi.homeDir ".local" "bin" "tailwindcss-intellisense" }}
cat <<EOF >{{- $tailwindcssLsBin }}
#!/bin/sh

{{ lookPath "node" }} {{ joinPath $tailwindcssLsDir "extension" "dist" "tailwindServer.js"}} "\$*"
EOF

chmod +x {{ $tailwindcssLsBin }}
