#!/usr/bin/env bash

{{ if lookPath "carapace" }}

# carapace supports hash: {{ output "carapace" "--list" "--format" "json" | sha256sum }}

{{ $dir := joinPath .chezmoi.homeDir ".local" "share" "fish" "generated_completions" }}
mkdir -p {{ $dir }}
for cmd in $(carapace --list | awk '{print $1}'); do
	carapace ${cmd} fish > {{ $dir -}}/${cmd}.fish
done
{{ end }}
