#!/usr/bin/env bash
# spell-checker: disable

set -e

{{ $tailwindcss_intellisense := joinPath .chezmoi.homeDir ".local" "share" "lsp-servers" "tailwindcss-intellisense" -}}
mkdir -p {{ $tailwindcss_intellisense }}
pushd {{ $tailwindcss_intellisense }}

version="0.10.0"
url="https://github.com/tailwindlabs/tailwindcss-intellisense/releases/download/v$version/vscode-tailwindcss-$version.vsix"
asset="vscode-tailwindcss.vsix"

curl -L "$url" -o "$asset"
unzip -o "$asset"
rm "$asset" \[Content_Types\].xml extension.vsixmanifest

chmod +x extension/dist/tailwindServer.js

cat <<EOF >tailwindcss-intellisense
#!/bin/sh

node {{ $tailwindcss_intellisense -}}/extension/dist/tailwindServer.js \$*
EOF

chmod +x tailwindcss-intellisense
ln -sf "$(pwd)/tailwindcss-intellisense" {{ joinPath .chezmoi.homeDir ".local" "bin" }}

popd
