#!/usr/bin/env bash

{{ $cliRelease := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "kakoune-lsp.json" -}}
{{ $cliTagName := $cliRelease | include | fromJson | jq ".tag_name" | first -}}
{{ $cliAsset := printf "kakoune-lsp-%s-x86_64-unknown-linux-musl.tar.gz" $cliTagName -}}
{{ $cliUrl := printf "https://github.com/kakoune-lsp/kakoune-lsp/releases/download/%s/%s" $cliTagName $cliAsset }}
curl -L {{ $cliUrl | quote }} -o {{ $cliAsset }}

{{ $cliDir := trimSuffix ".tar.gz" $cliAsset }}

mkdir {{ $cliDir }}
pushd {{ $cliDir }}
tar zxf ../{{- $cliAsset }}

mv -f kak-lsp {{ joinPath .chezmoi.homeDir ".local" "bin" }}
popd

rm -rf {{ $cliAsset }} {{ $cliDir }}
