# Homebrew
# https://brew.sh/
#
# Linuxbrew
# https://docs.brew.sh/Homebrew-on-Linux
#
#   prerequisite:
#   sudo apt-get install build-essential procps curl file git
#
status is-login || exit

# Homebrew

{{ $brew := false -}}

{{ if stat "/usr/local/bin/brew" -}}
{{ output "/usr/local/bin/brew" "shellenv" "fish" }}
{{- $brew = true -}}
{{ end -}}

{{ if stat "/opt/homebrew/bin/brew" -}}
{{ output "/opt/homebrew/bin/brew" "shellenv" "fish" }}
{{- $brew = true -}}
{{ end -}}

{{ if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{ output "/home/linuxbrew/.linuxbrew/bin/brew" "shellenv" "fish" }}
{{- $brew = true -}}
{{ end -}}

{{ if $brew -}}

if not contains $HOMEBREW_PREFIX/share/fish/vendor_completions.d $fish_complete_path
    set -gx fish_complete_path $HOMEBREW_PREFIX/share/fish/vendor_completions.d $fish_complete_path
end

if test -f ~/.curlrc
    set -gx HOMEBREW_CURLRC 1
end
# 30 min.
set -gx HOMEBREW_AUTO_UPDATE_SECS 1800

{{ range (list "openssl@3" "openssl@1.1") -}}
{{   if get (joinPath (env "HOMEBREW_PREFIX") "opt" . | stat) "isDir" -}}
{{- $prefix := output "brew" "--prefix" . | trim -}}
fish_add_path -g {{ joinPath $prefix "bin" }}
set -gx LDFLAGS $LDFLAGS {{ printf "-L%s/lib" $prefix }}
set -gx CPPFLAGS $CPPFLAGS {{ printf "-I%s/include" $prefix }}
{{   break -}}
{{   end -}}
{{- end }}

{{ if get (expandenv "$HOMEBREW_PREFIX/opt/dotnet@6" | stat) "isDir" -}}
{{- $prefix := output "brew" "--prefix" "dotnet@6" | trim -}}
fish_add_path -g {{ joinPath $prefix "bin" }}
set -gx DOTNET_ROOT {{ joinPath $prefix "libexec" }}
{{- end }}

{{- end }}
