status is-interactive || exit

{{ if or (lookPath "fnm") (lookPath "pyenv") (lookPath "rbenv") -}}
echo "mise: fnm, pyenv, rbenv is installed."
{{ end -}}

{{ if lookPath "mise" }}
{{ output "mise" "activate" "fish" | trim }}
{{ end }}
