status is-interactive || exit

{{ if or (lookPath "fnm") (lookPath "pyenv") (lookPath "rbenv") -}}
echo "mise: fnm, pyenv, rbenv is installed."
{{ end -}}

if test \( -n "$HOMEBREW_PREFIX" \) -a \( "$MISE_FISH_AUTO_ACTIVATE" != "0" \)
	exit 0
end

{{ if lookPath "mise" }}
{{ output "mise" "activate" "fish" | trim }}
{{ end }}
