status is-interactive || exit

{{ if or (lookPath "fnm") (lookPath "pyenv") (lookPath "rbenv") -}}
echo "rtx: fnm, pyenv, rbenv is installed."
{{ end -}}

{{ if lookPath "rtx" }}
fish_add_path -g (dirname (realpath (which rtx)))

{{ output "rtx" "activate" "fish" | trim }}
{{ end }}
