status is-interactive || exit

function starship_transient_prompt_func
  starship module shell
  starship module character
end
function starship_transient_rprompt_func
  starship module time
end

{{ if lookPath "starship" }}
{{ output "starship" "init" "fish" | trim | comment "# " }}

{{ output "starship" "init" "fish" "--print-full-init" | trim }}

enable_transience
{{ end }}
