{{ if and (lookPath "aws-vault") -}}
{{   if get (stat (joinPath .chezmoi.homeDir ".password-store")) "isDir" -}}
set -gx AWS_VAULT_BACKEND pass
set -gx AWS_VAULT_PASS_PREFIX aws-vault

{{     if lookPath "gopass" -}}
set -gx AWS_VAULT_PASS_CMD gopass
{{     else -}}
set -gx AWS_VAULT_PASS_CMD pass
{{     end -}}
{{   else if eq .chezmoi.os "darwin" -}}
set -gx AWS_VAULT_BACKEND keychain
set -gx AWS_VAULT_PROMPT terminal
{{   end -}}
{{- end }}
