{{ if lookPath "bat" -}}
status is-interactive || exit

function bat_theme_preview_with
    if test (count $argv) -eq 0
        echo 'no args'
        return
    end
    bat --list-themes | fzf --preview="bat --theme={} --color=always $argv"
end

complete --command bat_theme_preview_with --require-parameter

{{   if lookPath "col" -}}
# https://github.com/sharkdp/bat/issues/1433
set -gx MANPAGER "sh -c 'col -bx | bat -l man -p'"
set -gx MANROFFOPT -c
{{   end -}}
{{- end }}
