{{ if lookPath "docker" -}}
status is-interactive || exit
{{-  if lookPath "dive" | not }}
alias dive 'command docker run --rm --tty --interactive --name dive --volume=/var/run/docker.sock:/var/run/docker.sock:ro wagoodman/dive'
{{-  end }}
{{-  if lookPath "secretlint" | not }}
alias secretlint 'command docker run --rm --tty --interactive --name secretlint --volume=(pwd):(pwd) --workdir=(pwd) secretlint/secretlint secretlint'
{{-  end }}
{{-  if lookPath "ctop" | not }}
alias ctop 'command docker run --rm --tty --interactive --name=ctop --volume=/var/run/docker.sock:/var/run/docker.sock:ro quay.io/vektorlab/ctop:latest'
{{-  end }}
{{-  if lookPath "genact" | not }}
# --tty をつけると改行コードが CRLF になる
alias genact 'docker run --rm --interactive --name=genact svenstaro/genact'
{{-  end }}
{{-  if lookPath "mmdc" | not }}
alias mmdc 'docker run --rm -u (id -u):(id -g) -v .:/data minlag/mermaid-cli'
{{-  end }}
{{-  if lookPath "jira" | not }}
alias jira 'docker run --rm --interactive ghcr.io/andygrunwald/jira-cli:latest'
{{-  end}}
{{- end }}
