status is-interactive || exit

if test -n "$TMUX"
{{- if lookPath "fzf-tmux" }}
    # https://raw.githubusercontent.com/tmux/tmux/3.2/CHANGES
    # tmux 3.2 以降で popup が利用可能
    if test (string match --regex '\d(?:\.\d+)?' (tmux -V)) -ge 3.2
        set -gx FZF_CMD fzf-tmux -p 90%,40%
    else
        set -gx FZF_CMD fzf-tmux -d 40%
    end
{{- end }}
else
    set -gx FZF_CMD fzf --height=60%
end


# https://github.com/junegunn/fzf?tab=readme-ov-file#setting-up-shell-integration
# fzf --fish | FZF_CTRL_T_COMMAND= FZF_ALT_C_COMMAND= source
set FZF_CTRL_T_COMMAND
set FZF_ALT_C_COMMAND
{{ output "fzf" "--fish" }}
set -e FZF_CTRL_T_COMMAND
set -e FZF_ALT_C_COMMAND

function fzf_ghq_repository_select -d "Reposity selection with fzf/ghq"
    test -n "$FZF_TMUX_HEIGHT"; or set FZF_TMUX_HEIGHT 40%
    set -l selected_repo (ghq list \
        | $FZF_CMD --height $FZF_TMUX_HEIGHT \
            --scheme=path \
            --bind=ctrl-z:ignore \
            --no-multi \
            --prompt="repository> " --query "$argv" \
            --preview-window="right,60%" \
            --preview="git -C (ghq list --exact --full-path {}) log -5 --graph --decorate --abbrev-commit --color=always")
    if test -n "$selected_repo"
        cd (ghq list --full-path --exact $selected_repo)
    end
    commandline --function repaint
end
bind \cq 'fzf_ghq_repository_select (commandline -b)'

# https://zenn.dev/yamo/articles/5c90852c9c64ab
# fzf を使って git のブランチを選択して git switch する fish 関数
function fzf_git_branch_select -d "Branch selection with fzf"
    set -l selected_branch (git branch --all --format='%(refname:short)' \
        | grep -v -e '^origin$' \
        | $FZF_CMD \
            --no-multi \
            --prompt="branches> " --query "$argv" \
            --preview-window="right,65%" \
            --preview="git log -5 --graph --decorate --abbrev-commit --color=always {}")
    if test -n "$selected_branch"
        git switch (string replace --regex '^origin/' '' (string trim $selected_branch))
    end
    commandline --function repaint
end
bind \cg 'fzf_git_branch_select (commandline -b)'

function fzf_zoxide_select
    set -l dir (zoxide query --list \
        | $FZF_CMD --reverse --no-multi --prompt="zoxide> " --query "$argv" \
        --scheme=path \
        --preview-window="right,40%" \
        --preview='ls -1 {}')
    if test -n "$dir"
        cd "$dir"
    end
    commandline --function repaint
end
bind \co 'fzf_zoxide_select (commandline -b)'


# catppuccin/latte
# set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS "\
# --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
# --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
# --color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39"

# catppuccin/frappe
# set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS "\
# --color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
# --color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
# --color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284"

# catppuccin/macchiato
# set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS "\
# --color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
# --color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
# --color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"

# catppuccin/mocha
# set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS "\
# --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
# --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
# --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
