status is-interactive || exit

string match -q "$TERM_PROGRAM" vscode || exit

disable_transience

# vscode の integrated terminal からは vscode のエディターを開く
set -gx EDITOR 'code -w'

test -n "$TMUX" && set -e TMUX
test -n "$TMUX_PANE" && set -e TMUX_PANE
test -n "$TMUX_PLUGIN_MANAGER_PATH" && set -e TMUX_PLUGIN_MANAGER_PATH

test -n "$ZELLIJ" && set -e ZELLIJ
test -n "$ZELLIJ_PANE_ID" && set -e ZELLIJ_PANE_ID
test -n "$ZELLIJ_SESSION_NAME" && set -e ZELLIJ_SESSION_NAME

set -gx FZF_TMUX_HEIGHT 80%

function git --wraps=git --description='Run git without paging in VSCode terminal'
    if test (count $argv) -ge 1; and test \( "$argv[1]" = "diff" \) -o \( "$argv[1]" = "show" \)
        command git --no-pager $argv
    else
        command git $argv
    end
end

# https://code.visualstudio.com/docs/terminal/shell-integration
{{ $source_path := output "code" "--locate-shell-integration-path" "fish" | trim }}
# {{ $source_path }}
{{ include $source_path }}
