status is-interactive || exit

string match -q "$TERM_PROGRAM" vscode || exit

# https://code.visualstudio.com/docs/terminal/shell-integration

# vscode の integrated terminal からは vscode のエディターを開く
if test "$TERM_PROGRAM" = vscode
    set -gx EDITOR 'code -w'
end

test -n "$TMUX" && set -e TMUX
test -n "$TMUX_PANE" && set -e TMUX_PANE
test -n "$TMUX_PLUGIN_MANAGER_PATH" && set -e TMUX_PLUGIN_MANAGER_PATH

test -n "$ZELLIJ" && set -e ZELLIJ
test -n "$ZELLIJ_PANE_ID" && set -e ZELLIJ_PANE_ID
test -n "$ZELLIJ_SESSION_NAME" && set -e ZELLIJ_SESSION_NAME

set -gx FZF_TMUX_HEIGHT 80%

source {{ output "code" "--locate-shell-integration-path" "fish" }}
