#!/usr/bin/env fish

# Only display this information in interactive shells
status is-login || exit
status is-interactive || exit

{{ if or (lookPath "lsb_release" | not) (output "lsb_release" "--id" | contains "Ubuntu" | not ) -}}
exit 0
{{ end -}}

# /etc/profile.d/update-motd.sh

set -l stamp $HOME/.motd_shown

function eval_gettext
{{ if lookPath "gettext" -}}
    echo (env TEXTDOMAIN=update-motd TEXTDOMAINDIR=/usr/share/locale gettext "$argv[1]")
{{ else -}}
    echo "$argv[1]"
{{ end -}}
end

# Also, don't display if .hushlogin exists or MOTD was shown recently
if test ! -e "$HOME/.hushlogin" -a -z "$MOTD_SHOWN"; \
    and not find $stamp -newermt 'today 0:00' 2> /dev/null | grep -q -m 1 '.'
    set -l SHOW ""
    if test (id -u) -ne 0
        set SHOW --show-only
    end
    update-motd $SHOW
    echo ""
    eval_gettext "This message is shown once a day. To disable it please create the"
    echo -n "$HOME/.hushlogin "
    eval_gettext "file."
    touch $stamp
    set -gx MOTD_SHOWN update-motd
end

functions -e eval_gettext
