{{- $defaultConfig := joinPath .chezmoi.homeDir ".config" "bottom" "default_config.toml" }}
{{- if stat $defaultConfig }}
{{- include $defaultConfig }}
{{- end }}

{{- $theme := joinPath .chezmoi.homeDir ".config" "bottom" "themes" "mocha.toml" }}
{{- if stat $theme }}
{{- include $theme }}
{{- end }}
