progress = true
format = "yaml"

[git]
autoCommit = true
autoPush = false

{{- if eq .chezmoi.os "windows" }}
[cd]
command='pwsh'
args=['-NoLogo']
{{- end }}

{{/* true if this machine should have Docker installed */}}
{{- $docker := false -}}
{{- $docker = promptBoolOnce . "docker" "Install docker" -}}

[data]
docker = {{ $docker }}
