{{/* true if this machine should have Docker installed */}}
{{- $docker := false -}}
{{- $docker = promptBoolOnce . "docker" "Install docker" -}}

progress = true
format = "yaml"

[git]
autoCommit = true
autoPush = false

{{- if eq .chezmoi.os "windows" }}
[cd]
command='pwsh'
args=['-NoLogo']
{{- end }}

[data]
docker = {{ $docker }}
wsl = {{ (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
distribution = {{ get .chezmoi.osRelease "id" | quote }}
