# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiexternal-format/
[".vim/pack/chezmoi/opt/minpac"]
type = "archive"
exact = true
include = ["*/autoload/**", "*/doc/**", "*/plugin/**"]
refreshPeriod = "24h"
stripComponents = 1
url = "https://github.com/k-takata/minpac/archive/master.zip"

[".vim/colors/zenesque.vim"]
type = "file"
url = "https://raw.githubusercontent.com/vim-scripts/zenesque.vim/master/colors/zenesque.vim"

[".local/share/dict/"]
type = "archive"
url = "https://sourceforge.net/projects/wordlist/files/speller/2020.12.07/wordlist-en_US-2020.12.07.zip/download"
include = ["en_US.txt"]

{{ if eq .chezmoi.os "windows" }}
["Documents/PowerShell/Modules/Catppuccin"]
type = "archive"
extract = true
stripComponents = 1
include = ["*/en-US/**", "*/*.ps*"]
url = "https://github.com/catppuccin/powershell/archive/refs/heads/main.zip"
{{ end }}
