{{/* true if this machine should have Docker installed */}}
{{- $docker := false -}}
{{- $docker = promptBoolOnce . "docker" "Install docker" -}}

progress = true
format = "yaml"

[edit]
{{- if eq .chezmoi.os "windows" }}
command = "gvim.exe"
args = ["--remote-tab-wait-silent"]
{{- else }}
command = "vim"
{{- end }}

[git]
autoCommit = true
autoPush = false

[cd]
{{- if eq .chezmoi.os "windows" }}
command='pwsh'
args=['-NoLogo']
{{- end }}

[data]
docker = {{ $docker }}
wsl = {{ (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
distribution = {{ get .chezmoi.osRelease "id" | quote }}
