{{- $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "powertoys-run-clipboardmanager.json" -}}
{{- $jqQuery := ".assets[] | select(.name | test(\"ClipboardManager-.*-x64.zip$\"))" -}}
{{- $info := $release | include | fromJson | jq $jqQuery | first -}}
{{- $url := $info.browser_download_url -}}
{{- $asset := $info.name -}}
{{- $ext := osExt $asset }}

Stop-Process -Name PowerToys -Force -ErrorAction SilentlyContinue

Invoke-WebRequest {{ $url | quote }} -OutFile {{ $asset }}
Expand-Archive -Force -Path {{ $asset }}
{{- $dirName := trimSuffix $ext $asset }}
{{- $targetDir := joinPath (env "LOCALAPPDATA") "Microsoft" "PowerToys" "PowerToys Run" "Plugins" }}

New-Item -ItemType Directory -Path {{ $targetDir | quote }} -Force
Remove-Item -Force -Recurse {{ joinPath $targetDir "ClipboardManager" | quote }}
Move-Item -Force -Path {{ joinPath $dirName "ClipboardManager" }} -Destination {{ $targetDir | quote }}
Remove-Item -Force -Recurse -Path {{ $asset | quote }}, {{ $dirName | quote }}

Start-Process -FilePath {{ joinPath (env "ProgramFiles") "PowerToys" "PowerToys.exe" | quote }}
