{{- $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "efm-langserver.json" | include | fromJson -}}
{{- $jqQuery := printf ".assets[] | select(.name | test(\"efm-langserver_%s_windows_amd64.zip$\"))" $release.tag_name -}}
{{- $info := $release | jq $jqQuery | first -}}
{{- $url := $info.browser_download_url -}}
{{- $asset := $info.name -}}
{{- $ext := osExt $asset -}}
# Version: {{ $release.tag_name }}
# Latest release hash:
# {{ $release | jq ".target_commitish" | first }}

Invoke-WebRequest {{ $url | quote }} -OutFile {{ $asset }}
Expand-Archive -Force -Path {{ $asset }}

Stop-Process -ErrorAction SilentlyContinue -Name efm-langserver
Resolve-Path {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }} | New-Item -ItemType Directory -ErrorAction SilentlyContinue
Move-Item -Force -Path 'efm-langserver_*/efm-langserver_*/efm-langserver.exe' -Destination {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }}
Remove-Item -Force -Recurse -Path {{ $asset | quote }}, {{ trimSuffix $ext $asset | quote }}
