{{ $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "powershell-editor-services.json" -}}
{{ $tagName := $release | include | fromJson | jq ".tag_name" | first -}}
{{ $asset := "PowerShellEditorServices.zip" -}}
{{ $url := printf "https://github.com/powershell/PowerShellEditorServices/releases/download/%s/%s" $tagName $asset }}

{{- $psEditorServicesDir := joinPath .chezmoi.homeDir ".local" "share" "powershell-editor-services" }}
Remove-Item -Force -Recurse -ErrorAction SilentlyContinue -Path {{ $psEditorServicesDir | quote}}
New-Item -ItemType Directory -Path {{ $psEditorServicesDir | quote}}
Push-Location {{ $psEditorServicesDir | quote}}

Invoke-WebRequest {{ $url | quote }} -OutFile {{ $asset | quote }}
Expand-Archive -Force -Path {{ $asset }}
Remove-Item -Force -Path {{ $asset | quote}}
Pop-Location

$Batch = @'
@echo off
setlocal
set PSES_BUNDLE_PATH=%~dp0PowerShellEditorServices
set SESSION_TEMP_PATH=%~dp0session
pwsh.exe -NoLogo -NoProfile -ExecutionPolicy RemoteSigned -Command "%PSES_BUNDLE_PATH: =` %\PowerShellEditorServices\Start-EditorServices.ps1" -BundledModulesPath '%PSES_BUNDLE_PATH%' -LogPath '%SESSION_TEMP_PATH%\logs.log' -SessionDetailsPath '%SESSION_TEMP_PATH%\session.json' -HostName 'vim' -HostProfileId 'vim' -HostVersion 1.0.0 -Stdio -LogLevel Diagnostic
'@

Set-Content -Path {{ joinPath .chezmoi.homeDir ".local" "share" "powershell-editor-services" "powershell-editor-services.cmd" | quote }} -Value $Batch

