{{- $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "bsky.json" | include | fromJson -}}
{{- $jqQuery := printf ".assets[] | select(.name | test(\"bsky-%s-.*$\"))" .chezmoi.os -}}
{{- $info := $release | jq $jqQuery | first -}}
{{- $url := $info.browser_download_url -}}
{{- $asset := $info.name -}}
{{- $ext := osExt $asset -}}
# Version: {{ $release.tag_name }}
# Updated-at: {{ $info.updated_at }}

Invoke-WebRequest {{ $url | quote }} -OutFile {{ $asset }}
Expand-Archive -Force -Path {{ $asset }}

Move-Item -Force -Path 'bsky-windows-*/bsky.exe' -Destination {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }}
Remove-Item -Force -Recurse -Path {{ $asset | quote }}, {{ trimSuffix $ext $asset | quote }}
