{{- $isWindows10 := lt (atoi .chezmoi.windowsVersion.currentBuild) 22000}}
{{- $isWindows11 := gt (atoi .chezmoi.windowsVersion.currentBuild) 22000}}

# Pin system apps
@("Microsoft.Edge",
	"Microsoft.EdgeWebView2Runtime",
	"Microsoft.Office",
	"Microsoft.OneDrive",
	"Microsoft.Teams",
	"Microsoft.Teams.Classic",
	"SlackTechnologies.Slack",
	"CatoNetworks.CatoClient",
	"Microsoft.Teams.Free",
	"KeeWeb.KeeWeb"
) | ForEach-Object {
	& winget pin add --exact --id $_
}

$JsonStr = @'
{
	"$schema": "https://aka.ms/winget-packages.schema.2.0.json",
	"CreationDate": "2024-04-30T10:41:00.197-00:00",
	"Sources": [
		{
			"Packages": [
				{
					"PackageIdentifier": "Git.MinGit"
				}
				,{
					"PackageIdentifier": "GitHub.cli"
				}
				,{
					"PackageIdentifier": "Helix.Helix"
				}
				,{
					"PackageIdentifier": "Microsoft.PowerShell"
				}
				,{
					"PackageIdentifier": "Microsoft.PowerToys"
				}
				,{
					"PackageIdentifier": "Microsoft.WindowsTerminal.Preview"
				}
				,{
					"PackageIdentifier": "7zip.7zip"
				}
				,{
					"PackageIdentifier": "nathancorvussolis.corvusskk"
				}
				,{
					"PackageIdentifier": "twpayne.chezmoi"
				}
				,{
					"PackageIdentifier": "gopass.gopass"
				}
				,{
					"PackageIdentifier": "GnuPG.GnuPG"
				}
				,{
					"PackageIdentifier": "GnuPG.Gpg4win"
				}
{{- if .preferZenBrowser }}
				,{
					"PackageIdentifier": "Zen-Team.Zen-Browser"
				}
{{- else }}
				,{
					"PackageIdentifier": "Mozilla.Firefox.DeveloperEdition.ja"
				}
{{- end }}
{{- if .fullProvisioning }}
				,{
					"PackageIdentifier": "uutils.coreutils"
				}
				,{
					"PackageIdentifier": "uutils.diffutils"
				}
				,{
					"PackageIdentifier": "BurntSushi.ripgrep.MSVC"
				}
				,{
					"PackageIdentifier": "Canonical.Ubuntu.2404"
				}
				,{
					"PackageIdentifier": "Docker.DockerCLI"
				}
				,{
					"PackageIdentifier": "Dystroy.broot"
				}
				,{
					"PackageIdentifier": "JesseDuffield.lazygit"
				}
				,{
					"PackageIdentifier": "StephanDilly.gitui"
				}
				,{
					"PackageIdentifier": "HermannSchinagl.LinkShellExtension"
				}
				,{
					"PackageIdentifier": "Microsoft.VisualStudioCode"
				}
				,{
					"PackageIdentifier": "Obsidian.Obsidian"
				}
				,{
					"PackageIdentifier": "Starship.Starship"
				}
				,{
					"PackageIdentifier": "Vitzo.ClipClip"
				}
				,{
					"PackageIdentifier": "Wilfred.difftastic"
				}
				,{
					"PackageIdentifier": "WinMerge.WinMerge"
				}
				,{
					"PackageIdentifier": "ajeetdsouza.zoxide"
				}
				,{
					"PackageIdentifier": "alexpasmantier.television"
				}
				,{
					"PackageIdentifier": "appmakes.Typora"
				}
				,{
					"PackageIdentifier": "eza-community.eza"
				}
				,{
					"PackageIdentifier": "gerardog.gsudo"
				}
				,{
					"PackageIdentifier": "jftuga.less"
				}
				,{
					"PackageIdentifier": "junegunn.fzf"
				}
				,{
					"PackageIdentifier": "sharkdp.bat"
				}
				,{
					"PackageIdentifier": "sharkdp.fd"
				}
				,{
					"PackageIdentifier": "sxyazi.yazi"
				}
				,{
					"PackageIdentifier": "vim.vim.nightly"
				}
{{- end }}
{{- if .buildOnUpdate }}
				,{
					"PackageIdentifier": "Microsoft.VisualStudio.2022.Professional"
				}
				,{
					"PackageIdentifier": "Rustlang.Rustup"
				}
{{- end }}
			],
			"SourceDetails": {
				"Argument": "https://cdn.winget.microsoft.com/cache",
				"Identifier": "Microsoft.Winget.Source_8wekyb3d8bbwe",
				"Name": "winget",
				"Type": "Microsoft.PreIndexed.Package"
			}
		},
		{
			"Packages": [
				{
					"PackageIdentifier": "9PGCV4V3BK4W"
				},
				{
					"PackageIdentifier": "9PM860492SZD"
				}
{{-   if lt (atoi .chezmoi.windowsVersion.currentBuild) 22000 }}
				,
				{
					"PackageIdentifier": "9WZDNCRFJ3PT"
				}
{{- end }}
			],
			"SourceDetails": {
				"Argument": "https://storeedgefd.dsx.mp.microsoft.com/v9.0",
				"Identifier": "StoreEdgeFD",
				"Name": "msstore",
				"Type": "Microsoft.Rest"
			}
		}
	],
	"WinGetVersion": "1.7.11132"
}
'@

try {
	$Winget = ConvertFrom-Json $JsonStr
	$Winget.CreationDate = Get-Date -AsUTC -Format "yyyy-MM-ddTHH:mm:ss.fffzzz"
	ConvertTo-Json -Depth 4 $Winget | Out-File -FilePath "winget.json" -Encoding utf8
	winget import --no-upgrade --accept-package-agreements --accept-source-agreements --import-file winget.json
} finally {
	Remove-Item -Path "winget.json"
}
