{{- $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "csvlens.json" | include | fromJson -}}
{{- $jqQuery := ".assets[] | select(.name | test(\"csvlens-x86_64-pc-windows-msvc.zip\"))" -}}
{{- $info := $release | jq $jqQuery | first -}}
{{- $url := $info.browser_download_url -}}
{{- $asset := $info.name -}}
{{- $ext := osExt $asset -}}
# Version: {{ $release.name }}
# Updated-at: {{ $info.updated_at }}

Invoke-WebRequest {{ $url | quote }} -OutFile {{ $asset }}
Expand-Archive -Force -Path {{ $asset }}

Stop-Process -ErrorAction SilentlyContinue -Name csvlens
Resolve-Path {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }} | New-Item -ItemType Directory -ErrorAction SilentlyContinue
Move-Item -Force -Path 'csvlens-x86_64-pc-windows-msvc/csvlens.exe' -Destination {{ joinPath .chezmoi.homeDir ".local" "bin" | quote }}
Remove-Item -Force -Recurse -Path {{ $asset | quote }}, {{ trimSuffix $ext $asset | quote }}
