# Latest commit hash:
# {{ joinPath .chezmoi.homeDir ".cache" "chezmoi-commits" "simple-completion-language-server.json" | include | fromJson | jq ".sha" }}

{{ if and (env "OneDrive") (lookPath "cargo") -}}
Stop-Process -ErrorAction SilentlyContinue -Name simple-completion-language-server
& cargo install --root "$Env:OneDrive/shared/" --force --git "https://github.com/estin/simple-completion-language-server"
{{- end }}
