#:schema https://raw.githubusercontent.com/jdx/mise/v2024.1.0/schema/mise.json

[tools]
{{ if eq .chezmoi.os "linux" -}}
ruby = ['2.7.3', '3.1.4']
python = [{version = '3.8.13'}]
{{- end }}

[settings]
