gui:
  language: "en"
  nerdFontsVersion: "3"
{{ $themefile := joinPath .chezmoi.homeDir ".config" "lazygit" "themes" "macchiato" "macchiato-blue.yml" -}}
{{ if stat $themefile -}}
{{ include $themefile | indent 2 -}}
{{- end }}
os:
  copyToClipboardCmd: printf "\033]52;c;$(printf {{ "{{text}}" }} | base64)\a" > /dev/tty
