# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
gui:
  language: en
{{- $themefile := joinPath .chezmoi.homeDir ".config" "lazygit" "themes-mergable" "mocha" "blue.yml" -}}
{{- if eq .chezmoi.os "windows" }}
{{- $themefile = joinPath .chezmoi.homeDir ".config" "lazygit" "themes-mergable" "macchiato" "blue.yml" -}}
{{- end }}

{{ if stat $themefile -}}
{{ include $themefile | trim | splitList "\n" | rest | join "\n" -}}
{{- end }}

git:
  paging:
{{- if lookPath "difft" }}
    externalDiffCommand: difft --color=always
{{- else }}
    externalDiffCommand: ""
{{- end}}
  autoFetch: false

os:
{{- if eq .chezmoi.os "windows" }}
  copyToClipboardCmd: "clip.exe"
{{- else }}
  copyToClipboardCmd: printf "\033]52;c;$(printf {{ "{{text}}" }} | base64 -w 0)\a" > /dev/tty
{{- end }}
