[init]
	defaultBranch = main

[user]
	useConfigOnly = true

{{ if eq .chezmoi.os "windows" -}}
[core]
	quotepath = false
	fscache = true
	preloadindex = true
	autocrlf = false

[http]
	sslBackend = schannel
{{- end }}

[commit]
	template = {{ joinPath .chezmoi.homeDir ".config/git/git_commit_msg.txt" | quote }}

{{ if (or (lookPath "git-credential-manager") (and (eq .chezmoi.os "windows") (lookPath "git"))) -}}
[credential]
	helper =
	helper = manager
[credential "https://dev.azure.com"]
	useHttpPath = true
{{- end }}

[log]
	date = iso8601

[pull]
	ff = only

[push]
	default = simple
	useForceIfIncludes = true

[diff]
	algorithm = histogram
	tool = vimdiff

[merge]
	conflictstyle = diff3

{{ if (lookPath "difft") -}}
[diff]
    external = difft

{{- else if (lookPath "delta") -}}
[core]
    pager = delta --diff-so-fancy

[interactive]
    diffFilter = delta --color-only

[delta]
# use n and N to move between diff sections
    navigate = true
# set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
{{- end }}

[difftool]
	prompt = false

[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

{{ if eq .chezmoi.os "windows" -}}
[difftool "p4merge"]
	cmd = p4merge.exe \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = p4merge.exe \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true

[difftool "vs2019"]
	cmd = \"C:/Program Files (x86)/Microsoft Visual Studio/2019/Professional/Common7/IDE/CommonExtensions/Microsoft/TeamFoundation/Team Explorer/vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false

[mergetool "vs2019"]
	cmd = \"C:/Program Files (x86)/Microsoft Visual Studio/2019/Professional/Common7/IDE/CommonExtensions/Microsoft/TeamFoundation/Team Explorer/vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepBackup = false
	trustExitCode = true
{{- end }}

# http://tbaggery.com/2011/08/08/effortless-ctags-with-git.html
[alias]
	ctags = !.git/hooks/ctags

# https://gist.github.com/gnarf/5406589
# Usage
# git pr 4
# - Creates local branch pr/4 from the github upstream(if it exists) or origin remote and checks it out
# git pr 4 someremote
# - Creates local branch pr/4 from someremote remote and checks it out
# git pr-clean
# - Removes all pr/* branches from your local repo
[alias]
    pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    # for bitbucket/stash remotes
    spr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull-requests/$1/from:pr/$1 && git checkout pr/$1; }; f"

# https://e-penguiner.com/remove-local-branches-not-on-remote/
[alias]
	prune-merged = "!git fetch --prune && git branch --merged | grep --invert-match '*' | xargs git branch --delete"
	prune-all = "!git fetch --prune && git branch --verbose --verbose | grep ': gone]' | awk '{print $1}' | xargs git branch --delete --force"

# https://blog.scottnonnenberg.com/better-git-configuration/
[alias]
	chmod = "!f(){ mode=$1; shift; git update-index --add --chmod=${mode} \"$*\"; }; f"

# git-gui tools
[gui]
	encoding = UTF-8
[guitool "rebase/continue"]
	cmd = git rebase --continue
[guitool "rebase/skip"]
	cmd = git rebase --skip
[guitool "rebase/abort"]
	cmd = git rebase --abort
[guitool "clean/00listup"]
	cmd = git clean -n
[guitool "clean/99do"]
	cmd = git clean -f
[guitool "vim"]
	cmd = gvim --servername GIT_GUI --remote-tab-silent $FILENAME
	noconsole = yes
	needsfile = yes

[commit]
	verbose = true
