# Default configuration: https://github.com/helix-editor/helix/blob/master/languages.toml

[language-server]

efm-langserver = { command = "efm-langserver" }
eslint-language-server = { command = "eslint-language-server", args = ["--stdio"] }
pylsp-all = { command = "pylsp-all" }
taplo-lsp = { command = "taplo-lsp", args = ["lsp", "stdio"] }
pyright-langserver = { command = "pyright-langserver", args = ["--stdio"], config = { python = { analysis = { typeCheckingMode = "strict", useLibraryCodeForTypes = true, reportMissingImports = true } } } }

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-i", "2", "-ci"]} # Google's Style
language-servers = ["bash-language-server", "efm-langserver"]


[[language]]
name = "css"
formatter = { command = "npx", args = ["prettier", "--parser", "css"] }
language-servers = ["vscode-css-language-server", "efm-langserver"]

[[language]]
name = "scss"
formatter = { command = "npx", args = ["prettier", "--parser", "css"] }
language-servers = ["vscode-css-language-server", "efm-langserver"]

[[language]]
name = "fish"
formatter = { command = "fish_indent" }
auto-format = true

[[language]]
name = "go"
scope = "source.go"
language-servers = ["gopls", "efm-langserver"]

[[language]]
name = "html"
formatter = { command = "npx", args = ["prettier", "--parser", "html"] }
language-servers = ["vscode-html-language-server", "efm-langserver"]

[[language]]
name = "json"
scope = "source.json"
formatter = { command = "npx", args = ["prettier", "--parser", "json"] }
language-servers = ["vscode-json-language-server", "efm-langserver"]

[[language]]
name = "pwsh"
# language-id = "powershell"
scope = "source.ps1"
file-types = ["ps1", "psm1", "psd1"]
shebangs = ["pwsh"]
roots = []
comment-token = "#"
indent = { tab-width = 4, unit = "    " }

# It look broken
# https://github.com/helix-editor/helix/issues/3123
[[grammar]]
name = "pwsh"
source = { git = "https://github.com/sgur/tree-sitter-PowerShell", rev = "263b6637aa8ab4cdc8c39da3d93adb657d7aa60d" }

[[language]]
name = "markdown"
language-servers = ["marksman", "efm-langserver"]

[[language]]
name = "jsx"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
auto-format = true
language-servers = ["typescript-language-server", "eslint-language-server", "efm-langserver"]

[[language]]
name = "javascript"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
auto-format = true
language-servers = ["typescript-language-server", "eslint-language-server", "efm-langserver"]

[[language]]
name = "typescript"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
auto-format = true
language-servers = ["typescript-language-server", "eslint-language-server", "efm-langserver"]

[[language]]
name = "tsx"
formatter = { command = "npx", args = ["prettier", "--parser", "typescript"] }
auto-format = true
language-servers = ["typescript-language-server", "eslint-language-server", "efm-langserver"]

[[language]]
name = "yaml"
language-servers = ["yaml-language-server", "efm-langserver"]

[[language]]
name = "toml"
language-servers = ["taplo-lsp", "efm-langserver"]
formatter = { command = "taplo-lsp", args = ["format", "-"]}

[[language]]
name = "python"
language-servers = ["pylsp-all", "pyright-langserver", "efm-langserver"]
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true
roots = ["pyproject.toml"]

[[language]]
name = "kdl"
language-servers = ["efm-langserver"]

[language-server.vscode-json-language-server.config]
provideFormatter = true
[language-server.vscode-json-language-server.config.json]
format = { enable = true }

{{ $catalog := output "curl" "-sJL" "https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/api/json/catalog.json" | fromJson -}}
{{ slice ( $catalog | jq "[.schemas[] | select(.fileMatch | any(endswith(\"json\")))?] | {\"language-server\": {\"vscode-json-language-server\": {config: {json: {schemas: .}}}}}" | toToml | splitList "\n") 5 | join "\n" -}}

[language-server.yaml-language-server.config.yaml]
format = { enable = true }

{{ slice ( $catalog | jq "[.schemas[] | select(.fileMatch | any(endswith(\"yaml\") or endswith(\"yml\")))? ] | map({(.url): (.fileMatch)}) | {\"language-server\": {\"yaml-language-server\": {config: {yaml: {schemas: .}}}}}" | toToml | splitList "\n") 5 | join "\n" -}}
