# Default configuration: https://github.com/helix-editor/helix/blob/master/languages.toml

{{- $catalog := joinPath .chezmoi.homeDir ".cache" "schemastore" "catalog.json" | include | fromJson }}

[[language]]
name = "astro"
language-servers = ["astro-ls", "efm-langserver", "buffer-ls"]

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-i", "2", "-ci"]} # Google's Style
language-servers = ["bash-language-server", "efm-langserver", "buffer-ls"]

[[language]]
name = "css"
formatter = { command = "pnpm", args = ["--silent", "dlx", "prettier", "--parser", "css"] }
language-servers = ["vscode-css-language-server", "stylelint-lsp", "efm-langserver", "buffer-ls"]

[[language]]
name = "dockerfile"
language-servers = [ "docker-langserver", "buffer-ls" ]

[[language]]
name = "docker-compose"
language-servers = [ "docker-compose-langserver", "yaml-language-server", "buffer-ls" ]

[[language]]
name = "fish"
language-servers = ["efm-langserver", "buffer-ls"]

{{- if eq .chezmoi.os "windows" }}
[[grammar]]
name = "gemini"
source = { git = "https://git.sr.ht/~nbsp/tree-sitter-gemini", rev = "3cc5e4bdf572d5df4277fc2e54d6299bd59a54b3" }
{{- end }}

[[language]]
name = "go"
scope = "source.go"
language-servers = ["gopls", "golangci-lint-langserver", "efm-langserver", "buffer-ls"]

[[language]]
name = "hjson"
scope = "source.hjson"
injection-regex = "hson"
file-types = ["hjson"]
indent = { tab-width = 4, unit = "  " }
language-servers = ["buffer-ls"]
roots = []

[[grammar]]
name = "hjson"
source = { git = "https://github.com/winston0410/tree-sitter-hjson", rev = "02fa3b79b3ff9a296066da6277adfc3f26cbc9e0" }

[[language]]
name = "html"
formatter = { command = "pnpm", args = ["--silent", "dlx", "prettier", "--parser", "html"] }
language-servers = ["vscode-html-language-server", "tailwindcss-ls", "efm-langserver", "buffer-ls"]

[[language]]
name = "javascript"
language-servers = ["vtsls", { name = "biome-lsp", except-features = [ "format" ] }, "efm-langserver", "buffer-ls"]

[[language]]
name = "json"
language-servers = ["vscode-json-language-server", { name = "biome-lsp", except-features = [ "format" ] }, "efm-langserver", "buffer-ls"]

[[language]]
name = "jsx"
language-servers = ["vtsls", "tailwindcss-ls", { name = "biome-lsp", except-features = [ "format" ] }, "efm-langserver", "buffer-ls"]

[[language]]
name = "kdl"
language-servers = ["efm-langserver"]

[[language]]
name = "markdown"
language-servers = ["marksman", "efm-langserver", "buffer-ls", "obsidian-lsp"]
auto-format = true
formatter = { command = "pnpm", args = ["--silent", "dlx", "prettier", "--parser", "markdown"] }

[[language]]
name = "python"
language-servers = ["pylsp", "pyright-langserver", "ruff-lsp", "efm-langserver", "buffer-ls"]
formatter = { command = "black", args = ["--quiet", "-"] }
auto-format = true
roots = ["pyproject.toml"]

[[language]]
name = "rust"
language-servers = [ "rust-analyzer", "buffer-ls" ]

[[language]]
name = "scss"
formatter = { command = "pnpm", args = ["--silent", "dlx", "prettier", "--parser", "css"] }
language-servers = ["vscode-css-language-server", "stylelint-lsp-scss", "efm-langserver", "buffer-ls"]

[[language]]
name = "toml"
language-servers = ["taplo-lsp", "efm-langserver", "buffer-ls"]
formatter = { command = "taplo-lsp", args = ["format", "-"]}

[[language]]
name = "tsx"
language-servers = [{name = "vtsls", except-features = ["format"]}, "tailwindcss-ls", { name = "biome-lsp", except-features = [ "format" ] }, "efm-langserver", "buffer-ls"]

[[language]]
name = "typescript"
language-servers = [{name = "vtsls", except-features = ["format"]}, { name = "biome-lsp", except-features = [ "format" ] }, "efm-langserver", "buffer-ls"]

[[language]]
name = "yaml"
language-servers = ["yaml-language-server", "efm-langserver", "buffer-ls"]

{{- if eq .chezmoi.os "windows" }}
[[language]]
name = "powershell"
scope = "source.powershell"
injection-regex = "(pwsh|powershell)"
file-types = [ "ps1", "psm1", "psd1", "pscc", "psrc" ]
shebangs = [ "pwsh", "powershell" ]
comment-token = '#'
# block-comment-tokens = { start = "<#", end = "#>" }
indent = { tab-width = 4, unit = "    " }
roots = []
language-servers = ["powershell-langserver", "buffer-ls"]
{{- end }}

[language-server]
deno = { command = "deno", args = ["lsp"] }
efm-langserver = { command = "efm-langserver" }
{{- $powershell_editor_service := findExecutable "powershell-editor-services" (list (joinPath .chezmoi.homeDir ".local" "share"
"powershell-editor-services")) -}}
{{- if $powershell_editor_service }}
powershell-langserver = { command = {{ $powershell_editor_service | quote }} }
{{- end }}
{{- if lookPath "simple-completion-language-server" }}
# https://github.com/estin/simple-completion-language-server
# $ cargo install --git https://github.com/estin/simple-completion-language-server.git
buffer-ls = {command = "simple-completion-language-server", config = { max_completion_items = 20, snippets_first = false }}
{{- end }}

[language-server.astro-ls]
command = "astro-ls"
args =["--stdio"]

[language-server.biome-lsp]
command = "biome"
args =["lsp-proxy"]

[language-server.obsidian-lsp]
command = "obsidian-lsp"
args =["--stdio"]

[language-server.pylsp]
command = {{ joinPath .chezmoi.homeDir ".local" "share" "python-lsp-server" "pylsp" | quote }}

[language-server.pylsp.config.plugins]
autopep8 = { enabled = false }
flake8 = { enabled = false }
mccabe = { enabled = false }
pycodestyle = { enabled = false }
pydocstyle = { enabled = false }
pyflakes = { enabled = false }
pylint = { enabled = false }
rope_autoimport = { enabled = true }
rope_completion = { enabled = true }
yapf = { enabled = false }
{{- if eq .chezmoi.os "windows" }}
ruff = { enabled = true }
{{- end }}

[language-server.pyright-langserver]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright-langserver.config.python.analysis]
autoImportCompletions = true
autoSearchPaths = true
reportMissingImports = true
typeCheckingMode = "strict"
useLibraryCodeForTypes = true

[language-server.ruff-lsp]
command = "ruff-lsp"
config = { settings = { run = "onSave" } }

[language-server.stylelint-lsp]
command = "stylelint-lsp"
args = ["--stdio"]

[language-server.stylelint-lsp-scss]
command = "stylelint-lsp-scss"
args = ["--stdio"]

[language-server.taplo-lsp]
command = "taplo"
args = ["lsp", "stdio"]

[language-server.taplo-lsp.config]
activationStatus = true
taploConfig = 'taplo://taplo.toml'
taploConfigEnabled = true
semanticTokens = false
debug = false

[language-server.taplo-lsp.config.evenBetterToml.schema]
enabled = true
links = false
repositoryEnabled = true
repositoryUrl = "https://taplo.tamasfe.dev/schema_index.json"

[language-server.taplo-lsp.config.evenBetterToml.schema.associations]
'^(.*(/|\\)Cargo\.toml|Cargo\.toml)$' = "taplo://Cargo.toml"

[language-server.taplo-lsp.config.evenBetterToml.formatter]
alignEntries = false
alignComments = true
arrayTrailingComma = true
arrayAutoExpand = true
arrayAutoCollapse = true
compactArrays = true
compactInlineTables = false
compactEntries = false
columnWidth = 80
indentTables = false
indentEntries = false
indentString = {}
reorderKeys = true
allowedBlankLines = 2
trailingNewline = true
crlf = false

[language-server.taplo-lsp.config.evenBetterToml.actions]
ignoreDepracatedAssociations = false

[language-server.vtsls]
command = "vtsls"
args = ["--stdio"]

[language-server.vtsls.config]

[language-server.vtsls.config.vtsls]
autoUseWorkspaceTsdk = true

[language-server.vtsls.config.javascript.inlayHints]
parameterNames = { enabled = 'all' }
parameterTypes = { enabled = true }
variableTypes = { enabled = true }
propertyDeclarationTypes = { enabled = true }
functionLikeReturnTypes = { enabled = true }
enumMemberValues = { enabled = true }

[language-server.vtsls.config.typescript.inlayHints]
parameterNames = { enabled = 'all' }
parameterTypes = { enabled = true }
variableTypes = { enabled = true }
propertyDeclarationTypes = { enabled = true }
functionLikeReturnTypes = { enabled = true }
enumMemberValues = { enabled = true }

[language-server.vscode-json-language-server.config.json]
format = { enable = true }

{{ slice ( $catalog | jq "[.schemas[] | select(.fileMatch | any(endswith(\"json\")))?] | {\"language-server\": {\"vscode-json-language-server\": {config: {json: {schemas: .}}}}}" | toToml | splitList "\n") 5 | join "\n" -}}

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
customTags = [
  '!And sequence',
  '!Base64',
  '!Cidr sequence',
  '!Equals sequence',
  '!FindInMap sequence',
  '!Fn',
  '!GetAZs',
  '!GetAtt',
  '!If sequence',
  '!ImportValue',
  '!Join sequence',
  '!Not sequence',
  '!Or sequence',
  '!Ref',
  '!Select sequence',
  '!Split sequence',
  '!Sub'
]

{{ slice ( $catalog | jq "[.schemas[] | select(.fileMatch | any(endswith(\"yaml\") or endswith(\"yml\")))? ] | map({(.url): (.fileMatch)}) | {\"language-server\": {\"yaml-language-server\": {config: {yaml: {schemas: .}}}}}" | toToml | splitList "\n") 5 | join "\n" -}}
