{{ if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu") .wsl -}}
#!/bin/sh

set -eufx

{{ $release := joinPath .chezmoi.homeDir ".cache" "chezmoi-releases" "git-credential-manager.json" -}}
# version: {{ $release | include | fromJson | jq ".tag_name" | first }}
{{ $download_url := $release | include | fromJson | jq ".assets[] | select(.name | startswith(\"gcm-linux_amd64\") and endswith(\".deb\")) | .browser_download_url" | first -}}
# url: {{ $download_url }}

{{ $deb := osBase $download_url -}}

trap "rm -rf {{ $deb | squote }}" EXIT
curl -JLO {{ $download_url | quote }}
sudo dpkg -i {{ $deb | quote }}

{{ end -}}
