{{ if and (eq .chezmoi.os "linux") (and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu")) .wsl -}}
#!/bin/sh

latest_releases=$(curl --silent https://api.github.com/repos/git-ecosystem/git-credential-manager/releases/latest)
echo "${latest_releases}" | jq --exit-status 'has("message")' > /dev/null

rate_exceeded=$?
if [ $rate_exceeded -eq 0 ]; then
	echo -n "Downloading git-credential-manager error: "
	echo "${latest_releases}" | jq -r '.message'
	exit 0
fi

download_url=$(echo ${latest_releases} | jq -r '.assets[] | select(.name | startswith("gcm-linux_amd64") and endswith(".deb")) | .browser_download_url' )
deb=$(basename "$download_url")

trap "rm -rf ${deb}" EXIT
curl -JLO "${download_url}"
sudo dpkg -i "${deb}"
{{ end -}}

