{{ if and (eq .chezmoi.os "linux") (and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu")) .wsl -}}
#!/bin/sh

curl --silent https://api.github.com/repos/git-ecosystem/git-credential-manager/releases/latest > releases.json
trap "rm -rf releases.json" EXIT

jq --exit-status 'has("message")' releases.json > /dev/null
rate_exceeded=$?
if [ $rate_exceeded -eq 0 ]; then
	echo -n "Downloading git-credential-manager error: "
	jq -r '.message' releases.json
	exit 0
fi

download_url=$(jq -r '.assets[] | select(.name | startswith("gcm-linux_amd64") and endswith(".deb")) | .browser_download_url' releases.json )
deb=$(basename "$download_url")

trap "rm -rf ${deb}" EXIT
curl -JLO "${download_url}"
sudo dpkg -i "${deb}"
{{ end -}}

