{{ if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu") .wsl .buildOnUpdate -}}
#!/usr/bin/env bash

# Latest commit hash: {{ joinPath .chezmoi.homeDir ".cache" "chezmoi-commits" "helix-editor.json" | include | fromJson | jq ".sha" | first }}

{{ if lookPath "sccache" -}}
export RUSTC_WRAPPER={{- lookPath "sccache"}}
{{- end }}

{{ if and (lookPath "ghq") (lookPath "cargo") -}}
ghq get --update helix-editor/helix
pushd $(ghq list -p helix-editor/helix)
curl -sL https://gist.githubusercontent.com/sgur/2f5325e7f134aa5ceeb1efb5c2a0013d/raw/32d7abde2a13f641c0097ee6137b6929e724b1b4/japanese-movements.patch | patch -p1
# rm -rf target/
if [[ -n "$ZELLIJ" ]]; then
	zellij run --close-on-exit --direction down -- \
		env HELIX_DEFAULT_RUNTIME=$(ghq list -p helix-editor/helix)/runtime \
		cargo install --profile opt --locked --path helix-term
elif [[ -n "$TMUX" ]]; then
	tmux split-window -d -e HELIX_DEFAULT_RUNTIME=$(ghq list -p helix-editor/helix)/runtime -- \
		cargo install --profile opt --locked --path helix-term
else
	export HELIX_DEFAULT_RUNTIME=$(ghq list -p helix-editor/helix)/runtime
	cargo install --profile opt --locked --path helix-term
fi
rm -r -f ~/.local/share/fish/vender_completions.d/hx.fish
install -m 644 contrib/completion/hx.fish --target-directory ~/.local/share/fish/vender_completions.d/ -D
git reset --hard
git clean -f
popd
{{- end }}
{{- end }}
