{{ if lookPath "starship" }}

function Invoke-Starship-TransientFunction {
  "$(starship module time)$(starship module status)$(starship module character)"
}

{{ output "starship" "init" "powershell" | comment "# "}}
{{ output "starship" "init" "powershell" "--print-full-init" }}

Enable-TransientPrompt
{{ else }}
Write-Output "starship not installed."
{{ end }}
