{{ if lookPath "starship" }}
{{ output "starship" "init" "powershell" | comment "# "}}
{{ output "starship" "init" "powershell" "--print-full-init" }}

function Invoke-Starship-TransientFunction {
  &starship module shell
  &starship module character
}

# https://wezfurlong.org/wezterm/shell-integration.html#osc-7-on-windows-with-powershell-with-starship
$prompt = ""
function Invoke-Starship-PreCommand {
    $current_location = $executionContext.SessionState.Path.CurrentLocation
    if ($current_location.Provider.Name -eq "FileSystem") {
        $ansi_escape = [char]27
        $provider_path = $current_location.ProviderPath -replace "\\", "/"
        $prompt = "$ansi_escape]7;file://${env:COMPUTERNAME}/${provider_path}$ansi_escape\"
    }
    $host.ui.Write($prompt)
}

# Enable-TransientPrompt
{{ end }}
