{{ if lookPath "zoxide" }}
{{ output "zoxide" "init" "--hook" "pwd" "powershell" }}

$Env:_ZO_EXCLUDE_DIRS = "$(Join-Path $Env:USERPROFILE .config chezmoi);$(Join-Path $Env:USERPROFILE .cache '*')"

# Set-Location Hook
$ExecutionContext.InvokeCommand.LocationChangedAction = {
	if (Get-Command -ErrorAction SilentlyContinue -Type Function __zoxide_hook)
	{
		__zoxide_hook
	}
}

{{ end }}
