{{- if eq .chezmoi.os "windows" }}
scan_timeout = 100
command_timeout = 3000
{{- end }}
[aws]
force_display = true

[aws.region_aliases]
us-east-1 = 'N.Virginia'
us-west-2 = 'Oregon'
ap-northeast-1 = "Tokyo"
eu-central-1 = "Frankfur"

[azure]
disabled = true

[battery]
disabled = true

[cmake]
disabled = true

[cmd_duration]
format = '🕙 [$duration]($style) '

[cobol]
disabled = true

[conda]
disabled = true

[crystal]
disabled = true

[deno]
disabled = true

[directory]
use_os_path_sep = false
repo_root_style = 'bold cyan'
before_repo_root_style = 'cyan dimmed'
truncation_symbol = '…/'

[elixir]
disabled = true

[elm]
disabled = true
{{ if eq .chezmoi.os "windows" }}
[env_var.VisualStudioVersion]
format = "$symbol[VS$env_value]($style) "
symbol = "﬏ " #  ﬏
style = "purple dimmed"
{{ end }}
[env_var.CHEZMOI]
format = "[$symbol]($style) "
symbol = "chezmoi"
style = "blue"

[erlang]
disabled = true

[fill]
disabled = true

[gcloud]
disabled = true

[git_commit]
tag_disabled = false

[git_metrics]
disabled = {{- if eq .chezmoi.os "windows" }} true {{- else }} false {{- end }}

[git_status]
disabled = false

[helm]
disabled = true

[java]
disabled = true

[julia]
disabled = true

[kotlin]
disabled = true

[lua]
disabled = true

[nim]
disabled = true

[nix_shell]
disabled = true

[nodejs]
disabled = {{- if eq .chezmoi.os "windows" }} true {{- else }} false {{- end }}

[ocaml]
disabled = true

[openstack]
disabled = true

[perl]
disabled = true

[php]
disabled = true

[pulumi]
disabled = true

[python]
disabled = {{- if eq .chezmoi.os "windows" }} true {{- else }} false {{- end }}

[purescript]
disabled = true

[rlang]
disabled = true

[red]
disabled = true

[ruby]
disabled = true

[scala]
disabled = true

[shell]
disabled = false
#  󰨊 
powershell_indicator = ""
# 󰈺 󰻳
fish_indicator = "󰈺"

[singularity]
disabled = true

[status]
disabled = false
symbol = "🔴"
map_symbol = true

[sudo]
disabled = false

[swift]
disabled = true

[terraform]
disabled = true

[time]
disabled = false

[vagrant]
disabled = true

[vlang]
disabled = true

[vcsh]
disabled = true

[zig]
disabled = true
