--italic-text "always"

--map-syntax "*.conf:INI"
--map-syntax "*.wslconfig:INI"
--map-syntax "*.json*.tmpl:JSON"
--map-syntax "*.toml.tmpl:TOML"
--map-syntax "*.yaml.tmpl:YAML"
--map-syntax "*.yml.tmpl:YAML"

--style "numbers,changes,header"

--theme {{ if eq .chezmoi.os "windows" -}} "Catppuccin Macchiato" {{- else -}} "Catppuccin Mocha" {{- end }}

--nonprintable-notation "unicode"
