--italic-text=always

--map-syntax "*.conf:INI"
--map-syntax "*.json*.tmpl:JSON"
--map-syntax "*.ron:RUST"
--map-syntax "*.toml.tmpl:TOML"
--map-syntax "*.wslconfig:INI"
--map-syntax "*.yaml.tmpl:YAML"

--style="numbers,changes,header"

--theme={{ if eq .chezmoi.os "windows" -}} "Catppuccin-macchiato" {{- else -}} "Catppuccin-mocha" {{- end }}
