--theme={{ if eq .chezmoi.os "windows" -}} "Catppuccin-mocha" {{- else -}} "Catppuccin-macchiato" {{- end }}

--map-syntax "*.wslconfig:INI"
--map-syntax "*.conf:INI"
--map-syntax "*.toml.tmpl:TOML"
--map-syntax "*.yaml.tmpl:YAML"
--map-syntax "*.json*.tmpl:JSON"
